@model List<MilagrosDeEsperanza.Models.Usuario>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="layoutSidenav_content">
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Gestión de Noticias</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Ver Detalles</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Gestión de Proyectos</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Ver Detalles</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Gestión de Usuarios</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Ver Detalles</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">Información de PayPal</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="@Url.Action("DashboardUsuario", "Admin")">Ver Detalles</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
 
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Usuarios
        </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a href="@Url.Action("CrearUsuario", "Admin")" class="btn btn-primary">Crear Usuario</a>
                    </div>
                </div>
                <table id="datatablesSimple" class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Apellido</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* @foreach (var usuario in Model)
                        {
                            <tr>
                                <td>@usuario.Nombre</td>
                                <td>@usuario.PrimerApellido</td>
                                <td>@usuario.SegundoApellido</td>
                                <td>@usuario.Telefono</td>
                                <td>@usuario.Email</td>
                                <td>@usuario.Rol</td>
                                <td>
                                    <a href="@Url.Action("EditarUsuario", "Admin", new { id = usuario.Email })" class="btn btn-primary btn-sm">Editar</a>
                                    <form asp-action="Eliminar" asp-controller="Admin" method="post" style="display: inline;">
                                        <input type="hidden" name="email" value="@usuario.Email" />
                                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        } *@
                    </tbody>
                </table>
            </div>

    </div>
</div>